$theme-colors: (
        "primary": #4080bf,
        "secondary": #993333,
        "dark": #595959,
        "light": #ffff,
);

$text-color: #595959;
$other-color: #ffff;
$font-secondary-title: 'Patua One', cursive;
$font-title: 'Permanent Marker', cursive;
$font-text: 'Fanwood Text', serif;

body {
  font-family: $font-text;
}

h1{
  font-family: $font-title;
}

h5 {
  font-family: $font-secondary-title;
}

nav a{
  color: $other-color;
  &:hover{
    color: $text-color;
  }
}

.div-season-show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-media-season-show {
  display: flex;
  align-items: unset;
}

.program-container {
  display: flex;
  justify-content: space-around;
}

.formComment {
  display: flex;
  flex-direction: column;
}

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";


