$theme-colors: (
        "primary": #4080bf,
        "secondary": #993333,
        "dark": #595959,
        "light": #ffff,
);

$text-color: #595959;
$other-color: #ffff;

nav a{
  color: $other-color;
    &:hover{
      color: $text-color;
    }
}

.displayFlex{
  display: flex;
}

.card-season-show {
  width: 50%;
}

.season-comment {
  width: 50%;
}

.commentsDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-season-show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-media-season-show {
  display: flex;
  align-items: unset;
}

.program-container {
  display: flex;
  justify-content: space-around;
}

@import "~bootstrap/scss/bootstrap";
